extends ../layouts/main-layout.pug

block content
    .container.mt-5
        .row.justify-content-center
            .col-lg-8
                .card.shadow
                    .card-header.bg-primary.text-white
                        h4.card-title.mb-0 Kategori Düzenle
                    .card-body
                        form(action="/admin/categories" method="POST")
                            input(type='hidden' name='_csrf' value=`${csrfToken}`)
                            input(type='hidden' name='id' value=`${category._id}`)

                            .form-group.row.mb-4
                                label(for="name").col-md-3.col-form-label.font-weight-bold Kategori Adı
                                .col-md-9
                                    input.form-control#name(
                                        type="text" 
                                        name="name" 
                                        value=`${category.name}`
                                        placeholder="Kategori adını giriniz"
                                        required
                                    )
                                    small.form-text.text-muted Örneğin: Elektronik, Giyim vb.

                            .form-group.row.mb-4
                                label(for="description").col-md-3.col-form-label.font-weight-bold Açıklama
                                .col-md-9
                                    textarea.form-control#editor(
                                        name="description" 
                                        rows="5"
                                        placeholder="Kategori açıklamasını giriniz"
                                        required
                                    ) #{category.description}

                            .form-group.row.mt-4
                                .col-md-9.offset-md-3.d-flex.justify-content-end
                                    a.btn.btn-outline-secondary.me-4(href="/admin/categories")
                                        i.fas.fa-times.mr-2
                                        | İptal
                                    button.btn.btn-primary(type="submit")
                                        i.fas.fa-save.mr-2
                                        | Değişiklikleri Kaydet

block script
    script(src="https://cdn.jsdelivr.net/npm/ckeditor@4.11.3/ckeditor.js")
    script(src="/js/script.js")