extends ../layouts/main-layout.pug

block content
  .container.site-header
    .row.justify-content-center
      .col-md-8.col-lg-6.col-xl-5
        .text-center.mb-5
          h1.site-title.text-primary TECHSTORE
        
        .card.shadow-lg.border-0
          .card-header.bg-primary.text-white.rounded-top
            h4.text-center.mb-0 Yeni Şifre Belirle
          
          .card-body.px-5.pt-5.pb-4
            if errorMessage 
              .alert.alert-danger.alert-dismissible.fade.show
                | #{errorMessage}
                button(type="button" data-dismiss="alert").close
                  span &times;
            
            form(action="/new-password" method="POST")
              input(type="hidden" name="_csrf" value=`${csrfToken}`)
              input(type="hidden" name="userId" value=`${userId}`)
              input(type="hidden" name="passwordToken" value=`${passwordToken}`)
              
              .form-group.mb-4
                label(for="password").h6.font-weight-bold Yeni Şifre
                .input-group
                  .input-group-prepend
                    span.input-group-text.bg-light
                      i.fas.fa-lock
                  input.form-control#password(
                    type="password" 
                    name="password"
                    placeholder="En az 6 karakterli şifre girin"
                    required
                  )
              
              button.btn.btn-primary.btn-block.mt-4.py-2(
                type="submit"
              ) 
                i.fas.fa-save.mr-2
                | Şifreyi Kaydet
          
          .card-footer.text-center.py-3.bg-light.rounded-bottom
            p.mb-0 
              a.font-weight-bold.text-primary(href="/login") Giriş Sayfasına Dön
            
