extends ../layouts/main-layout.pug

block content
  .container.site-header
    .row.justify-content-center
      .col-md-8.col-lg-6.col-xl-5
        .text-center.mb-5
          h1.brand-title TechStore
          .brand-underline
        
        .card.shadow-lg.border-0
          .card-header.bg-primary.text-white.rounded-top
            h4.text-center.mb-0 Yeni Hesap Oluştur
          
          .card-body.px-5.pt-5.pb-4
            if errorMessage 
              .alert.alert-danger.alert-dismissible.fade.show
                | !{errorMessage}
                button(type="button" data-dismiss="alert").close
                  span &times;
            
            form(action="/register" method="POST")
              input(type="hidden" name="_csrf" value=`${csrfToken}`)
              
              .form-group.mb-4
                label(for="name").h6.font-weight-bold Tam Adınız
                .input-group
                  .input-group-prepend
                    span.input-group-text.bg-light
                      i.fas.fa-user
                  input.form-control#name(
                    type="text" 
                    name="name"
                    placeholder="Ad ve soyadınızı girin"
                    required
                  )
              
              .form-group.mb-4
                label(for="email").h6.font-weight-bold E-posta Adresi
                .input-group
                  .input-group-prepend
                    span.input-group-text.bg-light
                      i.fas.fa-envelope
                  input.form-control#email(
                    type="email" 
                    name="email"
                    placeholder="ornek@email.com"
                    required
                  )
              
              .form-group.mb-4
                label(for="password").h6.font-weight-bold Şifre
                .input-group
                  .input-group-prepend
                    span.input-group-text.bg-light
                      i.fas.fa-lock
                  input.form-control#password(
                    type="password" 
                    name="password"
                    placeholder="En az 6 karakter"
                    required
                  )
              
              button.btn.btn-primary.btn-block.mt-4.py-2(
                type="submit"
              ) 
                i.fas.fa-user-plus.mr-2
                | Kayıt Ol
          
          .card-footer.text-center.py-3.bg-light.rounded-bottom
            p.mb-0 Zaten hesabınız var mı? 
              a.font-weight-bold.text-primary(href="/login") Giriş Yapın