.input-group(style="width: auto;")
  select.form-select.form-select-sm#sortSelect(
    onchange="applySort(this)"
  )
    option(value="price_desc" selected=selectedSort === 'price_desc') Fiyat (Azalan)
    option(value="price_asc" selected=selectedSort === 'price_asc') Fiyat (Artan)

script.
  function applySort(selectElement) {
    const currentUrl = window.location.pathname;
    const currentParams = new URLSearchParams(window.location.search);
    currentParams.set('sort', selectElement.value);
    window.location.href = `${currentUrl}?${currentParams.toString()}`;
  }