.container.mb-4
  .row.justify-content-end
    .col-auto
      .input-group
        select.form-select.form-select-sm#sortSelect(
          onchange="applySort(this)"
          style="min-width: 180px;"
        )
          option(
            value="price_desc"
            selected=selectedSort === 'price_desc'
          ) Fiyat (Azalan)
          option(
            value="price_asc"
            selected=selectedSort === 'price_asc'
          ) Fiyat (Artan)
          

script.
  function applySort(selectElement) {
    const currentUrl = window.location.pathname;
    const currentParams = new URLSearchParams(window.location.search);
    currentParams.set('sort', selectElement.value);
    window.location.href = `${currentUrl}?${currentParams.toString()}`;
  }