mixin createProduct(product)
  .col-md-4
    .card.my-3
      img(src=`/img/${product.imgUrl}` alt=product.name).card-img-top
      
      .card-body
        h4.card-title
          a.product-name(href="/products/"+product._id) #{product.name}
        
        .card-text.pt-2
          .product-price
            span.product-price-currency ₺
            | #{product.price}

      .card-footer.text-center
        a(href="/products/"+product._id).btn.btn-outline-primary.btn-sm.rounded-pill.me-2
          i.fas.fa-info-circle.me-1
          | Detaylar
        
        form(action='/cart' method='POST' style="display: inline;")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type='hidden' name='productId' value=product._id)
          button(type='submit').btn.btn-primary.btn-sm.rounded-pill
            i.fas.fa-cart-plus.me-1
            | Sepete Ekle